{% extends 'base.html.twig' %}

{% block title %} Bienvenue sur KadeShop{% endblock %}

{% block body %}
  <div class="container">
        <h1 class="title p-1 text-center">Blog d'actualité KadeShop </h1>

    <div class="row">

      <div class="col-md-8">
        <div class="row">
                 {% for article in articles %}
            <div class="card" style="width: 18rem;">
            <p class="date">Ecrit le {{article.createdAt | date("m/d/Y")}} à {{article.createdAt | date("H:i")}} par 
            <span class="author"> {{article.author}}</span></p>
              <img class="card-img-top" src="/assets/blog/images/{{article.image}}" alt="{{article.image}}">
               <div class="card-body">
                   <h5 class="card-title">{{article.title}}</h5>
                   {# <p class="content text-justify">{{article.content | raw}} </p> #}
                   <a href="{{path('app_show', {'id':article.id})}}" class="btn btn-primary">En savoir plus</a>
              </div>
              
            </div>
       {% endfor %}
        </div>
      </div>

      <div class="col-md-4">
          <h1 class="title p-1 text-center"> catégories</h1>
          <ul class="list-group">
           {% for category in categories %}
               <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href=""> {{category.title}}
                     <span class="badge bg-primary rounded-pill">{{category.articles | length}} article(s)</span>
                  </a> 
            </li>
           {% endfor %}
              
         </ul>
      </div>
  </div>
    
{% endblock %}
